node_modules/
dist/
*.log
.DS_Store
data.json
.hotreload
.build-info.txt
.vitest-log.txt
.workbuddy/
.claude/
.agents/
.obsidian/

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map
